.font{
    font-family: var(--primary-font);

    &.one{
        font-weight: 800;
        font-size: 2.375rem;
        line-height: 3rem;
        color: var(--gray-color);
    }

    &.two{
        font-weight: 700;
        font-size: 1.375rem;
        line-height: 2.125rem;
        color: var(--gray-color);
    }

    &.three{
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.875rem;
        color: var(--gray-color);
    }

    &.four{
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1.625rem;
        color: var(--gray-color);
    }

    &.five{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.625rem;
        color: var(--grey-color-2);
    }

    &.six{
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1.375rem;
        color: var(--grey-color-2);
    }
}